@model List<CraftTech.WebUI.Areas.Admin.Models.Message.MessageResultDto>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Areas/Admin/Views/Layout/_AdminLayout.cshtml";
    int count = 1;
    string IsRead = "";
    string btnClass = "";
}

<br />
<h1>Mesajlar</h1>
<br />
<a href="/Admin/Message/NotRead/" class="btn btn-outline-info">Okunmamış Mesajları Gör</a>
<br />
<br />
<table class="table table-bordered">
    <tr>
        <th>#</th>
        <th>Gönderen Adı Soyadı</th>
        <th>Gönderen Mail</th>
        <th>Okundu Mu?</th>
        <th>Görüntüle</th>
        <th>Sil</th>
    </tr>
    @foreach (var item in Model)
    {
        @if(item.IsRead)
        {
            IsRead = "Okundu";
            btnClass = "btn btn-success";
        }else
        {
            IsRead = "Okunmadı";
            btnClass = "btn btn-warning";
        }
        <tr>
            <th>@count</th>
            <td>@item.NameSurname</td>
            <td>@item.Email</td>
            <td><span class="@btnClass">@IsRead</span></td>
            <td><a href="/Admin/Message/MessageDetail/@item.MessageID/" class="btn mb-1 btn-rounded btn-outline-success">Mesajı Gör</a></td>
            <td><a href="/Admin/Message/DeleteMessage/@item.MessageID" class="btn mb-1 btn-rounded btn-outline-danger">Sil</a></td>
        </tr>
        count++;
    }
</table>