@model CraftTech.WebUI.Areas.Admin.Models.Message.MessageResultDto
@{
    ViewData["Title"] = "MessageDetail";
    Layout = "~/Areas/Admin/Views/Layout/_AdminLayout.cshtml";
}

@Html.HiddenFor(x=>x.MessageID)
@Html.HiddenFor(x=>x.FileURL)
<br />
<h1>Mesaj Detayı</h1>
<br />
<a href="/Admin/Message/DeleteMessage/@Model.MessageID" class="btn btn-outline-danger" onclick="return confirm('Bu mesajı silmek istediğinizden emin misiniz?')">Mesajı Sil</a>
<br />
<br />
<table class="table table-bordered">
    <tr>
        <th>Gönderen Adı Soyadı:</th>
        <td>@Model.NameSurname</td>
    </tr>
    <tr>
        <th>Gönderen Mail:</th>
        <td>@Model.Email<td>
    </tr>
    <tr>
        <th>Tarih & Saat:</th>
        <td>@Model.SendTime.ToString("dd.MM.yyyy HH:mm")<td>
    </tr>
    <tr>
        <th>Gönderen Şirketi:</th>
        <td>@Model.Company<td>
    </tr>
    <tr>
        <th>Mesaj:</th>
        <td>@Model.MessageDetail<td>
    </tr>
</table>