@model CraftTech.WebUI.Areas.Admin.Models.Product.ProductUpdateDto
@{
    ViewData["Title"] = "UpdateProduct";
    Layout = "~/Areas/Admin/Views/Layout/_AdminLayout.cshtml";
}


<br />
<h1>Ürün Güncelleme Sayfası</h1>
<br />
<a href="/Admin/Product/Index/" class="btn btn-outline-info">Vazgeç</a>
<br />
<br />

@using (Html.BeginForm("UpdateProduct", "Product", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    <div class="form-group">
        @Html.HiddenFor(x => x.ProductID)
        @Html.Label("Ürün Adı:")
        @Html.TextBoxFor(x => x.Title, new { @class = "form-control" })
        @Html.ValidationMessageFor(x => x.Title, "", new { @style = "color:red" })
        <br />
        @Html.Label("Ürün Açıklaması:")
        @Html.TextAreaFor(x => x.Description, new { @class = "form-control" })
        @Html.ValidationMessageFor(x => x.Description, "", new { @style = "color:red" })
        <br />
        @Html.Label("Ürün Görseli:")
        <input type="file" name="file" class="form-control" accept="image/*" />
        @Html.HiddenFor(x => x.ImageUrl)
        @if (Model.ImageUrl != null)
        {
            <p>Mevcut Fotoğraf: <img src="@Model.ImageUrl" alt="Fotoğraf" style="max-height: 100px;" /></p>
        }
        <br />
        <button class="btn btn-success">Kaydet</button>
    </div>
}