@model CraftTech.WebUI.Areas.Admin.Models.Account.ChangePasswordDto
@{
    ViewData["Title"] = "ChangePassword";
    Layout = "~/Areas/Admin/Views/Layout/_AdminLayout.cshtml";
}

<h2>Şifre Değiştir</h2>
@using (Html.BeginForm("ChangePassword", "Account", FormMethod.Post))
{
    <div class="form-group">
        @Html.Label("Mevcut Şifre:")
        @Html.PasswordFor(x => x.CurrentPassword, new { @class = "form-control" })
        @Html.ValidationMessageFor(x => x.CurrentPassword, "", new { @style = "color:red" })
        <br />
        @Html.Label("Yeni Şifre:")
        @Html.PasswordFor(x => x.NewPassword, new { @class = "form-control" })
        @Html.ValidationMessageFor(x => x.NewPassword, "", new { @style = "color:red" })
        <br />
        @Html.Label("Yeni Şifre Tekrar:")
        @Html.PasswordFor(x => x.ConfirmNewPassword, new { @class = "form-control" })
        @Html.ValidationMessageFor(x => x.ConfirmNewPassword, "", new { @style = "color:red" })
        <br />
        <button class="btn btn-success">Kaydet</button>
    </div>
}